.navbar {
    background: $primary-gradient;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 10;

    .container {
        @include flex-center;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;
    }

    &-logo .logo {
        width: 150px;
    }

    &-links {
        display: flex;
        justify-content: center;
        flex-grow: 1;

        .nav-list {
            list-style: none;
            display: flex;
            gap: 2rem;

            .nav-link {
                font-size: 1rem;
                color: $white;
                text-transform: uppercase;
                @include transition(color);

                &:hover {
                    color: $light-gray;
                }
            }
        }
    }

    .cta .btn {
        background-color: $cta-bg;
        color: $white;
        padding: 0.75rem 1.5rem;
        border-radius: 5px;
        @include transition(background-color);

        &:hover {
            background-color: $cta-bg-hover;
        }
    }

    .navbar-toggler {
        display: none;
        background: none;
        border: none;
        font-size: 1.5rem;
        color: $white;
    }

    @include respond-to(md) {
        .navbar-toggler {
            display: block;
        }

        .navbar-links {
            display: none;
            flex-direction: column;
            gap: 1rem;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            background-color: #4d44b8;
            padding: 1rem;

            &.active {
                display: flex;
            }
        }
    }
}
