.sub-heading {
    font-size: 1.2rem;
    color: $light-gray;
}

.hero-title {
    font-size: 3rem;
    margin: 0.5rem 0;
    color: $white;
}

.hero-description {
    font-size: 1.25rem;
    margin-bottom: 2rem;
    color: $white;
}
